# development
**/*.pyc
**/*.ipynb
**/.idea/
**/.venv/
**/dist/
**/node_modules/
**/.cache/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/__pycache__/
**/yarn-error.log
**/.yarn/


# artifacts
**/.platform/
**/.ebextensions/

# vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# streamlit
secrets.toml

# tests
.pytest_cache
.coverage
